/* -----common css 
------ */
body{
    font-family: 'Poppins', sans-serif;
}
.container h5{
    color: ghostwhite;
}
.container p{
    color: ghostwhite;
}

/* -----toast section 
-------- */
.notification{
    right: 360px;
}
/* ------our package section
 ------- */
 .packges{
     color: indianred;
 }
.business-fair ul{
    list-style: none;
}
.business-fair p{
    color: rgb(88, 84, 84);
}
.special-package{
    color: #fff;
}
.special-package p{
    color: #fff;
}

.cheak{
    color: rgb(19, 36, 49);
    padding: 5px;
}
.choose-btn{
    background-color: rgb(187, 68, 47);
}

/*------
-----food section ------ */
.food-item p{
    color: rgb(68, 81, 94);
}

/* -------footer section 
--------- */
.copyright{
    color: tomato;
}
.footer{
    background-color: black;
}
.footer h4{
    color: lightyellow;
}